:root {
  --primary-color: #404040;
  --primary-color-rgb: 77, 108, 119;
  --secondary-color: #4A90E2;
  --secondary-color-rgb: 198, 231, 108;
  --tertiary-color: #95c4d4;
  --tertiary-color-rgb: 149, 196, 212;
}